@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gobold-thin';
  src: url('/fonts/gobold-thin.otf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursor {
  position: fixed;
  /* width: fit-content; Adjust width based on text */
  /* height: 100%; */
  transform: translateX(-25px) translateY(-10px);
  padding: 20px; /* Add padding for better appearance */
  border-radius: 9999px; /* Adjust based on the text size */
  background-color: #2700f9;
  color: #fff; /* Text color */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  pointer-events: none;
  z-index: 9999;
  font-family: 'gobold-thin';
  text-transform: lowercase;
}
